@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  main {
    flex: 1 0 auto;
  }
  footer {
    flex-shrink: 0;
  }
}

@layer components {
  a[disabled] {
    pointer-events: none;
    cursor: default;
  }

  .btn {
    @apply text-base font-medium rounded-lg p-3;
  }

  .btn--primary {
    @apply bg-primary text-white;
  }

  .btn--secondary {
    @apply text-slate-900;
  }
}
