@tailwind base;
@tailwind components;
@tailwind utilities;

body header {
  background-color: #4696e5;
  background-position: top left, center center;
  background-attachment: fixed, fixed;
  background-size: auto, cover;
}
