---
title: About us
description: What is Compada all about?
image: https://unsplash.com/photos/_S7-KX8geL0/download?ixid=MnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjY0OTQzMzcy&force=true&w=1920
---

<main>
  {% include common_header.html %}
  <div class="relative overflow-hidden py-16">
    <div class="relative">
      <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-8">
        <div class="mx-auto max-w-xl px-4 sm:px-6 lg:mx-0 lg:max-w-none lg:py-16 lg:px-0">
          <div>
            <div>
              <span class="flex h-12 w-12 items-center justify-center rounded-md bg-blue-800 dark:bg-blue-400">
                <!-- Heroicon name: outline/pencil-square -->
                <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                </svg>
              </span>
            </div>
            <div class="mt-6">
              <h2 class="text-3xl font-bold tracking-tight text-gray-900 dark:text-white">Collaboration</h2>
              <p class="mt-4 text-lg text-gray-500">Compada brings ease to business problem resolution and flexibility to its consumers. We are believers that unrealistic overhauls to business strategy ignore what matters most - your unique needs, culture, and goals. By building a high-end customer experience platform, modern business can access realtime collaboration to adapt your methodologies and bring successful outcomes. Compada is a business evolution platform, allowing you to select tailored advisors who will help you make better business decisions and drive more intelligence into your operations.</p>
            </div>
          </div>
        </div>
        <div class="mt-12 sm:mt-16 lg:mt-0">
          <div class="-mr-48 pl-4 sm:pl-6 md:-mr-16 lg:relative lg:m-0 lg:h-full lg:px-0">
            <img class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:left-0 lg:h-full lg:w-auto lg:max-w-none" src="https://unsplash.com/photos/6awfTPLGaCE/download?ixid=MnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjY0OTQyMDcz&force=true&w=1024" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="mt-24">
      <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-8">
        <div class="mx-auto max-w-xl px-4 sm:px-6 lg:col-start-2 lg:mx-0 lg:max-w-none lg:py-32 lg:px-0">
          <div>
            <div>
              <span class="flex h-12 w-12 items-center justify-center rounded-md bg-blue-800 dark:bg-blue-400">
                <!-- Heroicon name: outline/presentation-chart -->
                <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 3v11.25A2.25 2.25 0 006 16.5h2.25M3.75 3h-1.5m1.5 0h16.5m0 0h1.5m-1.5 0v11.25A2.25 2.25 0 0118 16.5h-2.25m-7.5 0h7.5m-7.5 0l-1 3m8.5-3l1 3m0 0l.5 1.5m-.5-1.5h-9.5m0 0l-.5 1.5m.75-9l3-3 2.148 2.148A12.061 12.061 0 0116.5 7.605" />
                </svg>
              </span>
            </div>
            <div class="mt-6">
              <h2 class="text-3xl font-bold tracking-tight text-gray-900 dark:text-white">Proven outcomes</h2>
              <p class="mt-4 text-lg text-gray-500">Most businesses experience common challenges and have to rely on expensive consulting contracts, or simply within their network. This poses constraints in the form of foregone profits, unwanted employee cycles, and unsatisfied outcomes. Compada is a culmination of our advisory platform's hundreds of years of business experience solving the same problems you face. At Compada, it's all about your outcomes and delivering success on your terms. Browse through our database of highly specialized experience, share your goals, and together you will optimize how you overcome business roadblocks to drive your business forward.</p>
            </div>
          </div>
        </div>
        <div class="mt-12 sm:mt-16 lg:col-start-1 lg:mt-0">
          <div class="-ml-48 pr-4 sm:pr-6 md:-ml-16 lg:relative lg:m-0 lg:h-full lg:px-0">
            <img class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:right-0 lg:h-full lg:w-auto lg:max-w-none" src="https://unsplash.com/photos/-3Dc-I-65ug/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8MTF8fGV4cGVyaWVuY2V8ZW58MHx8fHwxNjY0OTIwNDE0&force=true&w=1024" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="mx-auto max-w-7xl py-12 px-4 sm:px-6 lg:px-8 lg:py-24">
      <div class="space-y-12">
        <h2 class="text-3xl font-bold tracking-tight sm:text-4xl">Meet our team</h2>
        <ul role="list" class="space-y-12 lg:grid lg:grid-cols-2 lg:items-start lg:gap-x-8 lg:gap-y-12 lg:space-y-0">
        {% for author in site.data.authors %}
          {% assign person = author[1] %}
          {% include person.html person=person %}
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</main>
