<div class="inline-flex rounded-md shadow mt-3 mr-3">
  <a href="{{ include.href }}" class="inline-flex items-center justify-center rounded-md border border-transparent bg-white px-5 py-3 text-base font-medium text-gray-900 hover:bg-gray-50">
    {{ include.content }}
    <svg class="-mr-1 ml-3 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
      <path fill-rule="evenodd" d="{{ include.svg }}" clip-rule="evenodd" />
    </svg>
  </a>
</div>
