<footer class="bg-gray-50 dark:bg-gray-900" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto max-w-md px-4 pt-12 sm:max-w-7xl sm:px-6 lg:px-8 lg:pt-16">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="space-y-8 xl:col-span-1">
        <a href="/">
          <span class="sr-only">Compada</span>
          <picture>
            <source srcset="/images/logo-inverted-200-round.png" media="(prefers-color-scheme: dark)">
            <img class="h-10 w-auto" src="/images/logo-200-round.png" alt="Compada">
          </picture>
        </a>
        <p class="text-base text-gray-500">At Compada, everyone is part of your company!</p>
        <div class="flex space-x-6">
          {% for link in site.data.links.social %}
          <a href="{{ link[1].url }}" target="_blank" class="text-gray-500 hover:text-gray-600 dark:hover:text-gray-400">
            <span class="sr-only">{{ link[1].name }}</span>
            <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
              <path fill-rule="evenodd" d="{{ link[1].d }}" clip-rule="evenodd" />
            </svg>
          </a>
          {% endfor %}
        </div>
      </div>
      <div class="mt-12 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-0">
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-base font-medium text-gray-900 dark:text-gray-50"><a href="/offerings" class="hover:underline">Offerings</a></h3>
            <ul role="list" class="mt-4 space-y-4">
              {% for link in site.data.links.offerings %}
              <li>
                <a href="{{ link[1].url }}" {% if link[1].url contains "http" %} target="_blank" {% endif %}
                  class="text-base text-gray-500 hover:text-gray-600 dark:hover:text-gray-400">
                  {{ link[1].name }}
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="mt-12 md:mt-0">
            <h3 class="text-base font-medium text-gray-900 dark:text-gray-50"><a href="/support" class="hover:underline">Support</a></h3>
            <ul role="list" class="mt-4 space-y-4">
              {% for link in site.data.links.support %}
              <li>
                <a href="{{ link[1].url }}" {% if link[1].url contains "http" %} target="_blank" {% endif %}
                  class="text-base text-gray-500 hover:text-gray-600 dark:hover:text-gray-400">{{ link[1].name }}
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-base font-medium text-gray-900 dark:text-gray-50"><a href="/company" class="hover:underline">Company</a></h3>
            <ul role="list" class="mt-4 space-y-4">
              {% for link in site.data.links.company %}
              <li>
                <a href="{{ link[1].url }}" {% if link[1].url contains "http" %} target="_blank" {% endif %}
                  class="text-base text-gray-500 hover:text-gray-600 dark:hover:text-gray-400">{{ link[1].name }}
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="mt-12 md:mt-0">
            <h3 class="text-base font-medium text-gray-900 dark:text-gray-50"><a href="/legal" class="hover:underline">Legal</a></h3>
            <ul role="list" class="mt-4 space-y-4">
              {% for link in site.data.links.legal %}
              <li>
                <a href="{{ link[1].url }}" {% if link[1].url contains "http" %} target="_blank" {% endif %}
                  class="text-base text-gray-500 hover:text-gray-600 dark:hover:text-gray-400">{{ link[1].name }}
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-12 border-t border-gray-200 dark:border-gray-700 py-8">
      <p class="text-base text-gray-400 xl:text-center">&copy; {{ 'now' | date: "%Y" }} Compada, Inc. All rights reserved.</p>
    </div>
  </div>
</footer>
