{% assign blog-page = site.pages | where: "path", "blog/index.html" | first %}
<header
  x-data="{ isOpen: false }"
  class="absolute w-full z-50">
  <div class="pt-6">
    <nav class="relative mx-auto flex max-w-7xl items-center justify-between px-4 sm:px-6" aria-label="Global">
      <div class="flex flex-1 items-center">
        <div class="flex w-full items-center justify-between md:w-auto">
          <a href="/">
            <span class="sr-only">Compada</span>
            <picture class="relative left-[9px]">
              <source srcset="/images/logo-inverted-200-round.png" media="(prefers-color-scheme: dark)">
              <img class="h-10 w-auto" src="/images/logo-200-round.png" alt="Compada">
            </picture>
          </a>
          <div class="-mr-2 flex items-center md:hidden">
            <button @click="isOpen = !isOpen" type="button" class="focus-ring-inset inline-flex items-center justify-center rounded-md p-2 text-gray-500 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500" aria-expanded="false">
              <span class="sr-only">Open main menu</span>
              <!-- Heroicon name: outline/bars-3 -->
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
              </svg>
            </button>
          </div>
        </div>
        <div class="hidden space-x-8 md:ml-10 md:flex">
        {% for link in site.data.links.offerings %}
          {% assign linked-page = site.pages | where: "path", link[0] | first %}
          <a href="{{ link[1].url }}" class="text-base font-medium dark:text-white hover:text-gray-800 dark:hover:text-gray-200">{{ linked-page.title }}</a>
        {% endfor %}
          <a href="{{ blog-page.url }}" class="text-base font-medium dark:text-white hover:text-gray-800 dark:hover:text-gray-200">{{ blog-page.title }}</a>
        </div>
      </div>
      <div class="hidden md:flex md:items-center md:space-x-6">
        <a href="{{ site.auth0_url }}" class="text-base font-medium dark:text-white hover:text-gray-800 dark:hover:text-gray-200">Log in</a>
      </div>
    </nav>
  </div>

  <div
    x-show="isOpen"
    x-transition:enter="duration-150 ease-out"
    x-transition:enter-start="opacity-0 scale-95"
    x-transition:enter-end="opacity-100 scale-100"
    x-transition:leave="duration-100 ease-in"
    x-transition:leave-start="opacity-100 scale-100"
    x-transition:leave-end="opacity-0 scale-95"
    class="absolute inset-x-0 top-0 z-10 origin-top transform p-2 transition md:hidden">
    <div class="overflow-hidden rounded-lg bg-white dark:bg-gray-800 shadow-md ring-1 ring-black ring-opacity-5">
      <div class="flex items-center justify-between px-5 pt-4">
        <picture>
          <source srcset="/images/logo-inverted-200-round.png" media="(prefers-color-scheme: dark)">
          <img class="h-10 w-auto" src="/images/logo-200-round.png" alt="">
        </picture>
        <div class="-mr-2">
          <button @click="isOpen = !isOpen" type="button" class="inline-flex items-center justify-center rounded-md p-2 text-gray-500 hover:bg-gray-50 dark:hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-blue-500">
            <span class="sr-only">Close menu</span>
            <!-- Heroicon name: outline/x-mark -->
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
      <div class="pt-5 pb-6">
        <div class="text-center space-y-1 px-2">
        {% for link in site.data.links.offerings %}
          {% assign linked-page = site.pages | where: "path", link[0] | first %}
          <a href="{{ link[1].url }}" class="block rounded-md px-3 py-2 text-base font-medium text-gray-900 dark:text-gray-50 hover:bg-gray-50 dark:hover:bg-gray-700">{{ linked-page.title }}</a>
        {% endfor %}
          <a href="{{ blog-page.url }}" class="block rounded-md px-3 py-2 text-base font-medium text-gray-900 dark:text-gray-50 hover:bg-gray-50 dark:hover:bg-gray-700">{{ blog-page.title }}</a>
        </div>
        <div class="mt-6 px-5">
          <p class="text-center text-base font-medium text-gray-500">Existing member? <a href="{{ site.auth0_url }}" class="text-gray-900 dark:text-gray-50 hover:underline">Log in</a></p>
        </div>
      </div>
    </div>
  </div>
</header>
